/*****************************TAG SELECTOR****************************/
body{
  margin : 0;
  text-align: center;
  font-size: 1.2rem;
}
h1{
  margin : 0 auto ;
  font-family: 'Arizonia', cursive;
  font-size: 6rem;
  margin-top : 50px;
  margin-bottom : 0;
  line-height: 1.5;
  color: #66BFBF;
}

h2{
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight : normal;
  color: #66BFBF;
}

h3{
  color : #11999E;
}

p{
  color : #40514E;
  margin-bottom : 0;
}
hr{
  width: 10%;
  border-style: dotted none none none;
  border-width: 15px;
  border-color: #EAF6F6;
}

/**************************CLASS SELECTOR*****************************/
.top-container{
  padding-top: 50px;
  background-color: #EAF6F6;
  position: relative;
}

.top-cloud {
  position: absolute;
  right : 300px;
  top : 250px;
}

.bottom-cloud {
  position: absolute;
  left : 300px;
  bottom : 200px;
}


.circle-background{
  border-radius: 100%;
  width : 25%;
  float : left;
  margin-right : 30px;
}

.image2
{
  display : inline-block;
  border-radius: 100%;
  width : 50%;
}
.image1{
  background-color: #393e46;
  border-radius: 100%;
  width : 25%;
  float : right;
  margin-left: 30px;
}

.image3{
  width : 25%;
}

.skill-row{
  width : 50%;
  margin : 100px auto;
  text-align : left;
  line-height: 1.5;
}

.profile{
  width : 25%;
  margin : auto;
  padding : 20px;
}

.skills{
  padding : 20px;
}

.contact-me{
  padding : 20px;
  width : 50%;
  margin : auto;
  line-height: 1.5;
}

.bottom-container{
  margin-top : 50px;
  background-color: #66BFBF;
  padding : 50px;
}

.contact-button{
  display: inline-block;
  text-decoration: none;
  background-color : #66BFBF;
  padding : 10px;
  margin-top : 10px;
  color : white;
  border-radius: 20px;
}

.contact-button:hover{
  background-color:#11999E;
}

.footer-link{
  display: inline-block;
  text-decoration: none;
  color : #11999E;
  margin : 0 20px;
}

.copyright{
  color : #EAF6F6;
  margin-top: 30px;
}
